---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<header>
			<nav>
				<a href="/">Home</a>
				<a href="/about">About</a>
				<a href="/blog">Blog</a>
			</nav>
		</header>
		<main>
			<h1>About Me</h1>
			<h2>... and my new Astro site!</h2>
			<p>Guided through Astro docs tutorial.</p>
			<p>This will be updated.</p>
		</main>
	</body>
</html>
