---

const platform = "github";
const username = "LitFill";

const other = [
    {
        platform: "X",
        username: "@razzy_ar",
    },
    {
        platform: "Discord",
        username: "users/litfill"
    },
]

---
<section>
    <footer>
        <p>Learn more about my projects on my <a href={`https://www.${platform}.com/${username}`}>{platform}</a> page!</p>
        <p>Visit me at:</p>
        <ul>
            { other.map(({platform, username}) => {
                const link =
                    `https://${ platform.toLocaleLowerCase() }.com/${ username }`;
                const prefix = username[0] === "@" ? "" : "@";
                const text = prefix + username.slice(username.indexOf("/") + 1);

                return <li>{ platform }: as <a href={ link }>{ text }</a></li>
            }) }
        </ul>
    </footer>
</section>
